.f1c1{
    background: rgb(5, 204, 211);
}
.f1c2{
    background: rgb(177, 58, 74);
}
.f1c3{
    background: rgb(177, 58, 74);
}
.f1c4{
    background: rgb(177, 58, 74);
}
.f1c5{
    background: rgb(44, 255, 132);
}
.f1c6{
    background: rgb(44, 255, 132);
}
.f1c7{
    background: rgb(44, 255, 132);
}
.f2c1{
    background: rgb(44, 255, 132);
}
.f2c2{
    background: rgb(141, 102, 28);
}
.f3c1{
    background: rgb(0, 0, 0);
}

